/* Animación para desplegar y plegar */
@keyframes expand {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100px; /* Puedes ajustar esta altura a lo que necesites */
    opacity: 1;
  }
}

@keyframes collapse {
  from {
    height: 100px; /* La altura a la que quieres reducir */
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

/* Clase para desplegar */
.expand {
  animation: expand 0.5s ease forwards;
}

/* Clase para plegar */
.collapse {
  animation: collapse 0.5s ease forwards;
  overflow: hidden; /* Esconder contenido cuando colapsa */
}
